---
import Link from "@components/Link.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "@astrojs/image/components";

const title = "About";
const description = "Some stuff about me";
---

<MainLayout title={title} description={description}>
  <section class="container about" aria-label="About Me">
    <Image
      src="/images/headshot.jpg"
      alt="My Headshot"
      width="200"
      height="250"
      format="avif"
      fit="cover"
      quality={80}
      aspectRatio="5:2"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
        aut. Doloribus asperiores cum ad non? Culpa consectetur praesentium sint
        voluptatum. Eius earum error odio iste nesciunt deleniti, repudiandae
        nulla ullam a consequatur beatae cumque et, repellendus ratione
        accusantium. Beatae, a?
      </p>
      <Link
        href="mailto:chris@codinginpublic.dev"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</MainLayout>
