---
import MainHead from "@layouts/MainHead.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";
import Nav from "@components/Nav.astro";

type MainHead = {
  title: string;
  description: string;
  image: string;
  data?: {};
};

const {
  title = "My Astro Blog",
  description = "My amazing Astro Blog!",
  image,
  data,
} = Astro.props as MainHead;
---

<html lang="en">
  <MainHead {title} {description} {image} {data} />
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
