---
import MainHead from "@layouts/MainHead.astro";
import "@styles/global.css";

type Props = {
  title?: string;
  description?: string;
};

const { title = "My Astro Blog", description = "My amazing Astro Blog!" } =
  Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot />
  </body>
</html>
